
</br>
    <div id="threadtext" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
       Simple Reddit Search Engine.
    </div>
    </br>


    <div class="collapse navbar-collapse">
    <div id="content2">
      <%= form_for('search_phrase') do |f| %>
        <div class="field">
          <%= f.text_field :title, :placeholder => 'Enter in a search phrase (e.g., programming). ', :size => 60%></br>
          <%= @error if @error %>
          </div>

    <% end %>
  </div>
</div>

<%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
<%= pie_chart Link.group(:subreddit).count %>



<ul class="list-group">
    <div id="threadtext"
      <div class="list-group">
        <% @links.each do |link| %>
          <li class="list-group-item">
          <%= link_to(link.title.titleize, link.url) %> (<%= link_to(link.subreddit, "http://www.reddit.com/r/#{link.subreddit}") %>)</br>
          score: <%= link.score%> comments: <%= link_to(link.num_comments, link.permalink)%> time: <%=time_ago_in_words(Time.at(link.created))%> ago 
                 
          </br>

          
          </li>
        <% end %>
      </div>
    </div>
</ul>

Search History Log
<% SavedSearch.all.each do |search| %>
  <%= search.title %></br>
<% end %>
