
</br>
    <div id="threadtext" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
       A Simple Reddit Search Engine. You're wrong again, Lezou.
    </div>
   


    <div class="collapse navbar-collapse">
    <div id="content2">
      <%= form_for('search_phrase') do |f| %>
        <div class="field">
          <%= f.text_field :title, :placeholder => 'Enter in a search phrase (e.g., programming). ', :size => 60%></br>
          <%= @error if @error %>
          </div>

    <% end %>
  </div>
</div>

<div class='graph'>

<div id='graph'>
<%= javascript_include_tag "/highcharts.js", "chartkick" %>
<%= pie_chart Link.group(:subreddit).count %>
</div>

<br>
<strong>Most Recent Searches:</strong><br>
<% SavedSearch.last(11).reverse.each do |search| %>
  <%= link_to(search.title.titleize,  links_path(:search_phrase => { :title => search.title })) %>
  </br>
<% end %>
</div>


<ul class="list-group">
    <div id="threadtext"
      <div class="list-group">
        <% @links.each do |link| %>
          <li class="list-group-item">
          <%= link_to(link.title, link.url) %> (<%= link_to(link.subreddit, "http://www.reddit.com/r/#{link.subreddit}") %>)</br>
          score: <%= link.score%> comments: <%= link_to(link.num_comments, link.permalink)%> time: <%=time_ago_in_words(Time.at(link.created))%> ago 
                 
          </br>

          
          </li>
        <% end %>
      </div>
    </div>
</ul>


